:root {
  --heading-font-family: "Press Start 2P", sans-serif;
  --default-font-family: "M PLUS 1p", sans-serif;
}

body {
  background: linear-gradient(
    178.6deg,
    rgba(190, 230, 255, 0.5),
    rgba(209, 215, 236, 1),
    rgba(190, 230, 255, 1)
  );
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; /* This hides horizontal overflow */
  overflow-y: auto; /* This adds vertical scroll if necessary */
  height: 100%;
}

h1,
h2 {
  font-family: var(--heading-font-family);
}

h3,
h4,
h5,
p,
a {
  font-family: var(--default-font-family);
  font-weight: 400;
}
h1 {
  color: #222;
  text-shadow: 10px 8px 4px rgba(255, 255, 255, 0.83);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 77px;
}
h3 {
  color: #161616;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;

  padding-top: 20px;
}

h2 {
  color: #222;
  text-shadow: 10px 8px 4px rgba(255, 255, 255, 0.83);
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: underline;
  line-height: normal;
}

.hero {
  background-image: url("/img/square.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
  height: 500px;
  padding-top: 210px;
  margin-top: -154px;
}
.hero-text {
  margin-left: 171px;
}
.hero img {
  transform: scaleX(-1);
  display: block;
}
.button-contact {
  margin-top: 58px;
}
.moon {
  background-image: url(/img/moon.png);
  background-repeat: no-repeat;
  background-position-y: 150px;
  background-position-x: center;
}
.home-project {
  padding-top: 100px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}
#cloud {
  height: 250px;
}

#cloud2 {
  display: block;
  margin-left: auto;
}

#button-contact {
  background-image: url("/img/button.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  text-align: center;
  height: 105px;
  font-family: var(--heading-font-family);
  color: #222;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 20px;
  padding-top: 43px;
}

@media (max-width: 1400px) {
  .hero-text {
    margin-left: 80px;
  }
}

@media (max-width: 1200px) {
  .hero-text {
    margin-left: 0px;
  }

  @media (max-width: 1000px) {
    .hero {
      background-image: url(/img/square-mob.png);
      background-position-y: center;
      background-size: contain;
    }

    h1 {
      padding-top: 0px;
      width: 200px;
    }
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 28px;
    padding-top: 10px;
    width: 200px;
  }
  h3 {
    font-size: 15px;
    padding-top: 10px;
  }
  .hero {
    background-image: url(/img/square-mob.png);
    background-position-y: center;
  }
  #cloud {
    height: 100px;
  }

  #cloud2 {
    height: 100px;
  }

  #button-contact {
    margin-left: 10%;
  }
  .button-contact {
    margin-top: 0px;
  }

  .moon {
    background-size: contain;
  }

  #button-contact {
    margin-left: 0px;
  }
}
